<footer class="text-sm text-center">
   <section class="bg-primary p-2">
    <div class="max-w-primary mx-auto pt-4">
        <div class="sm:grid grid-cols-2">
            <div>
                <h4 class="text-2xl font-semibold mb-2">Socials</h4>
                <ul class="w-fit mx-auto sm:flex gap-8">
                    <li class="mb-2">
                        <a href="http://tiktok.com" target="_blank" rel="noopener noreferrer" class="flex items-center sm:block"><img src={{tiktok}} alt="tiktok" width="44"> <span>Tiktok</span></a>
                    </li>
                    <li class="mb-2">
                        <a href="https://www.instagram.com/kotalicious_cpt/" target="_blank" rel="noopener noreferrer" class="flex items-center sm:block"><img src={{instagram}} alt="tiktok" width="44"> <span>Instagram</span></a>
                    </li>
                    <li class="mb-2">
                        <a href="tel:+27783954845" target="_blank" rel="noopener noreferrer" class="flex items-center sm:block"><img src={{whatsapp}} alt="tiktok" width="44"> <span>Whatsapp</span></a>
                    </li>
                </ul>
            </div>
            <div class="mb-8">
                <div class="mb-8">
                    <img src={{logo}} alt="logo" width="150" class="mx-auto">
                </div>
                <ul class="sm:flex w-fit mx-auto gap-8">
                    <li>
                        <a routerLink='/'>Home</a>
                    </li>
                    <li>
                        <a routerLink='menu'>Menu</a>
                    </li>
                    <li>
                        <a routerLink='story'>About</a>
                    </li>
                    <li>
                        <a routerLink='contact'>Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   </section>
    <section class="text-center p-4 text-sm bg-secondary">
        <p>&copy; {{year}} Kotalicious</p>
    </section>

</footer>