   <!--- About Hero -->
<header class="text-4xl h-80 bg-front bg-cover bg-center font-bold">
    <div class="bg-black bg-opacity-50 h-80 flex justify-center items-center text-white">
        <h1>About</h1>
    </div>
</header>

<section class="max-w-third m-auto my-16 bg-yellow-100">
    <article class="sm:grid grid-cols-2">
        <div class="p-4 sm:p-8">
            <h1 class="text-2xl sm:text-4xl mb-4">Inspiration</h1>
            <p class="text-sm sm:text-base mb-8">
                UCT, an institution with a diverse group of people, has many people who have many tastes in food and what they
                consider fast food. Upon realisation, we noticed many did not even know what a <strong>Kota</strong> was.
            </p>
            
            <p class="text-sm sm:text-base">
                From international students and even local students from Western Cape, Northern Cape, Eastern Cape, KwaZulu-Natal,
                Mpumalanga. <strong>Kota</strong> - this fast food sandwich, from Gauteng is a quick meal that fills you up at an
                affordable price. I put it upon myself to share it and make it better that even those that know about it are blown away.
            </p>
        </div>
        <div class="flex justify-center items-center">
            <img src={{about1}} alt="about_1">
        </div>
        <!-- <figure class="bg-black md:w-1/2">
            
        </figure> -->
    </article>
    <article class="sm:grid grid-cols-2">
        <div class="">
            <img src={{about2}} alt="about_1">
        </div>
        <div class="p-4 sm:p-8">
            <h1 class="text-2xl sm:text-4xl mb-4">Join Us</h1>
            <p class="mb-8 text-sm sm:text-base">
                <q>The best love language is sharing food.</q>
                - Owner
            </p>
            <p class="text-sm sm:text-base">Get your own now! Get it for a friend. Enjoy the vibes</p>
            <div class="text-center">
                <button class="py-4 px-9 font-bold bg-primary rounded-3xl hover:bg-red-600 text-black hover:text-white my-12">Order Now</button>
            </div>
        </div>
       
    </article>
</section>