<section class="m-12 flex justify-between">
    <h1 class="text-3xl font-black">Inventory</h1>
    <div>
        <button class=" px-2 py-1 bg-red-500 rounded-2xl mx-4 text-white">Add</button>
    </div>
</section>

<section class="border rounded-2xl p-8 m-12 min-h-20">
    <table class="w-full">
        <thead class="border-b-2 text-xl h-12 pb-6">
            <th class="w-1/6">no.</th>
            <th class="w-2/6">Ingredient</th>
            <th class="w-1/6">Cost (R)</th>
            <th class="w-1/6">Quantity</th>
            <th class="w-1/6">Total Cost (R)</th>
        </thead>
        <tbody>
                <tr *ngFor="let item of myIngredients; track $index" class="h-12 border-b-2 text-center">
                    <td class="border-r-2 text-left"><button class=" px-2 py-1 mr-8 bg-red-500 text-white hover:bg-yellow-300 hover:text-black" (click)="deleteIngredient(item.id)">Remove</button>
                         </td>
                    <td class="border-r-2">{{item.ingrName}}</td>
                    <td class="border-r-2">{{item.ingrCost}}</td>
                    <td class="border-r-2">{{item.ingrQuantity}}</td>
                    <td>{{item.ingrTotalCost}}</td>
                </tr>
        </tbody>
    </table>
    <!-- <form action="" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="{{dialogBox}}">
        <div class="h-14 border-b-2 text-center w-full relative flex">
            <div class="border-r-2 w-1/6"><input class="w-full h-8 text-center p-2" type="text" readonly value="{{ingredients.length + 1}}"></div>
            <div class="border-r-2 w-2/6"><input class="w-full h-8 p-2" type="text" formControlName="ingrNameControl"></div>
            <div class="border-r-2 w-1/6"><input class="w-full h-8 p-2" type="text" formControlName="ingrCostControl"></div>
            <div class="border-r-2 w-1/6"><input class="w-full h-8 p-2" type="text" formControlName="ingrQuantityControl"></div>
            <div class="w-1/6"><input class="w-full h-8 p-2" type="text" formControlName="ingrTotalCostControl" readonly value="{{(ingredientForm.value?.ingrCostControl * ingredientForm.value?.ingrQuantityControl) ?? 0}}"></div>
            <button class="absolute top-10 right-1 bg-red-500 text-white py-1 px-2" type="submit">Complete</button>
        </div>
    </form> -->
</section>